{{- $params := partial "function/params.html" -}}

{{- /*  Git info  */ -}}
{{- $gitRepo := "" -}}
{{- $blobURL := "" -}}
{{- $sourceURL := "" -}}
{{- $editURL := "" -}}
{{- $reportURL := "" -}}
{{- with .Site.Params.gitInfo -}}
  {{- if .Repo -}}
    {{- $gitRepo = strings.TrimSuffix "/" .Repo -}}
    {{- $blobURL = printf "%v/blob/%v/%v/{path}" $gitRepo .Branch .Dir -}}
    {{- $editURL = printf "%v/edit/%v/%v/{path}" $gitRepo .Branch .Dir -}}
    {{- $reportURL = printf "%v/issues/new?%v" $gitRepo .IssueTpl -}}
  {{- end -}}
{{- end -}}

<div class="post-footer" id="post-footer">
  <div class="post-info">
  </div>

  <div class="post-info-more">
    <section class="post-tags">
      {{- $tagTerms := .GetTerms "tags" -}}
      {{- if $tagTerms -}}
        {{- dict "Class" "fa-solid fa-tags fa-fw me-1" | partial "plugin/icon.html" -}}
        {{- range $tagTerms -}}
          {{- $href := partial "function/escapeurl.html" .RelPermalink -}}
          {{- $title := printf "%v - %v" (T "tags") .LinkTitle -}}
          <a href="{{ $href }}" class="post-tag" title="{{ $title }}">{{ .LinkTitle }}</a>
        {{- end -}}
      {{- end -}}
    </section>
    <div class="post-info-line">
      <div class="post-info-share">
        <span>
          {{- partial "plugin/share.html" . -}}
        </span>
      </div>
    </div>
  </div>

  {{- $navigation := .Site.Params.navigation -}}
  <div class="post-nav">
    {{- $pages := .Site.Store.Get "mainSectionPages" -}}
    {{- $prev := $pages.Prev . -}}
    {{- $next := $pages.Next . -}}
    {{- /* Show the post navigation in section pages */ -}}
    {{- if $navigation.inSection -}}
      {{- $prev = .PrevInSection -}}
      {{- $next = .NextInSection -}}
    {{- end -}}
    {{- /* Reverse the next/previous post navigation order */ -}}
    {{- if $navigation.reverse -}}
      {{- $prev = $pages.Next . -}}
      {{- $next = $pages.Prev . -}}
    {{- end -}}
    {{- with $prev -}}
      {{- $capitalizeTitles := .Param "capitalizeTitles" -}}
      <a href="{{ .RelPermalink }}" class="post-nav-item" rel="prev" title="{{ cond $capitalizeTitles (title .LinkTitle) .LinkTitle }}">
        {{- dict "Class" "fa-solid fa-angle-left fa-fw" | partial "plugin/icon.html" -}}
        {{- cond $capitalizeTitles (title .LinkTitle) .LinkTitle -}}
      </a>
    {{- end -}}
    {{ with $next }}
      {{- $capitalizeTitles := .Param "capitalizeTitles" -}}
      <a href="{{ .RelPermalink }}" class="post-nav-item" rel="next" title="{{ cond $capitalizeTitles (title .LinkTitle) .LinkTitle }}">
        {{- cond $capitalizeTitles (title .LinkTitle) .LinkTitle -}}
        {{- dict "Class" "fa-solid fa-angle-right fa-fw" | partial "plugin/icon.html" -}}
      </a>
    {{- end -}}
  </div>
</div>
